<h1>Greeting</h1>
<h2>Message</h2>
<p>{{message}}</p>
<p>Good morning! {{name}}</p>
<h2>Style</h2>

{{style}}
<br>
<a href="/greeting/?style=fancy">/greeting/?style=fancy</a>
<br><p>userid</p><br>
{{userid}}
<a href="/set-random-userid">random userid</a>
<br><p>username</p><br>
{{username}}
<a href="/set-random-username">username</a>